# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
[client]
port=3306
socket=/data/server/mysql/mysql.sock

[mysqld]
sync_binlog=1
server-id=1
port=3306
explicit_defaults_for_timestamp=true

socket=/data/server/mysql/mysql.sock
pid-file=/data/server/mysql/my3306.pid
user=mysql
datadir=/data/server/mysql/data
tmpdir=/data/server/mysql/temp
log-bin=/data/logs/mysql/db01-bin.log
log-error=/data/logs/mysql/error.log
slow_query_log_file=/data/logs/mysql/slow.log
binlog_format=row
slow_query_log = 1
long_query_time=2

wait_timeout=1800
interactive_timeout=1800
max_connections=1024
back_log = 100
#max_user_connections=490
max_connect_errors=512
character_set_server=utf8
collation-server=utf8_general_ci
#transaction_isolation = READ-COMMITTED
skip-external-locking

#key_buff 4G内存参考值 256M或384
#key_buffer_size = 256M
max_allowed_packet = 16M
table_open_cache = 2048
sort_buffer_size = 2M
join_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 32M
#myisam_sort_buffer_size = 128M

#thread_stack = 256K
#thread_cache_size = 8
#query_cache_size = 256M
#query_cache_limit = 8M
#tmp_table_size = 64M

expire-logs-days=16
skip-name-resolve
lower_case_table_names=1
log_bin_trust_function_creators=1

# InnoDB
innodb_data_home_dir=/data/server/mysql/data
#innodb_log_group_home_dir=/data/logs/mysql
#innodb_buffer_pool_size=4G
#innodb_log_file_size=512M
#innodb_log_buffer_size=8M
innodb_lock_wait_timeout=30
innodb_file_per_table
innodb_file_format=barracuda
innodb_strict_mode=1
innodb_flush_log_at_trx_commit=1
#innodb_sort_buffer_size = 67108864

#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
sql_mode=STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO

#GTID
#gtid_mode = on
#enforce_gtid_consistency = 1
log_slave_updates
#relay_log = /data/logs/mysql/db01-relay.log
#relay_log_recovery = 1
#binlog_gtid_simple_recovery = 1
slave_skip_errors = all

########semi sync replication settings########
#plugin_dir=/usr/local/mysql/lib/plugin
#plugin_load = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_slave_enabled=1
#rpl_semi_sync_master_timeout = 1000

[mysqldump]
quick
#max_allowed_packet = 16M

[mysql]
no-auto-rehash

#[myisamchk]
#key_buffer_size = 256M
#sort_buffer_size = 256M
#read_buffer = 32M
#write_buffer = 32M

[mysqlhotcopy]
interactive-timeout